/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

a {
  text-decoration:none; 
}

ul, ol {
  padding: 0;
}

/*
    End of css reset
*/

@font-face {
  font-family: 'saira';
  src: url(fonts/Saira-Regular.ttf);
}

@font-face {
  font-family: 'sairalight';
  src: url(fonts/Saira_Condensed-ExtraLight.ttf);
}

body {
  font-family: 'saira';
}

.tc {
  text-align: center;
}

.redheader-main {
    width:100%;
    background-color: rgb(137 1 0);
    height: auto;
}

.redheader-box {
    display: flex;
    max-width: 950px;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;
    padding:0.5rem 0;
}

.redheader-social {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:15%;
}

.redheader-icon {
    width: 23px;
    transition: padding 0.35s ease;
}

.redheader-icon:hover {
  padding:2px;
}

.icon-special {
    width: 17px;
    transition: padding 0.35s ease;
}

.icon-special:hover {
  padding:2px;
}

.booknow {
    color: hsl(36.52deg 67.93% 46.47%);
    font-size: 0.75rem;
    transition: color 0.35s ease;
}

.booknow:hover {
  color:white;
}

.redheader-book {
    width:15%;
    display:flex;
    justify-content: flex-end;
}

.header {
  background-color: rgb(241 240 240);
  width:100%;
  height: auto;
} 

.header-logobox {
  width:35%;
  
}

header {
  width:100%;
  background-color:rgb(241 240 240);
  height: auto;

}

.header-mainbox {
  max-width: 950px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  margin: 0 auto;
  padding: 0.75rem 0 3rem 0;
}

.header-logobox {
  width:20%;
}

.logo-icon {
  width:100%;
  transition: transform 0.35s ease;
}

.logo-icon:hover {
  transform:scale(1.1);
}

.header-listbox {
  width:65%;
}

.header-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  list-style: none;
  width: 100%;
}

.list-tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.35s ease;
}

.list-tag:hover {
  transform: scale(1.1);
}

.listtag-link {
  color:rgb(88 88 88);
  font-size:0.8rem;
  transition: color 0.2s ease;
}

.listtag-link:hover {
  color: rgb(137 1 0);
}

.tag-rightborder {
  width:1px;
  height:10px;
  background-color: rgb(9, 9, 9);
  border-radius: 4px;
  margin-left: 15px;
}

.mlanding {
  width: 100%;
  height: auto;
  background-image: url(files/sliderbg.webp);
  background-size: cover;
  background-position: center;
  height: 680px;
  position:relative;
}

.landing-mainbox {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  align-items:center;
  flex-direction: row;
}

.landing-boxing {
  width: 50%;
}

.landing-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.landing-topimg {
  width:20px;
  margin:0 auto;
}

.landing-bottomimg {
  width:7px;
  margin:0 auto;
}

.landing-htext {
  color:white;
  text-align: center;
}

.landing-subtext {
  color:white;
  font-size: 1.1rem;
  font-family: 'sairalight';
}

.landing-menulink {
  color:white;
  padding: 10px 20px;
  background-color: rgb(137 1 0);
  font-size: 0.7rem;
  border-radius: 22px;
  transition: background-color 0.35s ease-out;
}

.landing-menulink:hover {
  background-color: rgb(216 164 56);
}

.mb1 {
  margin-bottom: 1rem;
}

.landing-imgbox {
  position: relative;
  width:47%;
}

.landing-img {
  position: absolute;
  top: -320px;
  left: 0;
  width: 570px;
} 

.menu-part {
  width:100%;
  background-color: rgb(241 240 240);

}

.float-landingbox {
  position:absolute;
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding:0.5rem 0.7rem;
  border-radius: 35px;
  bottom: -35px;
  left: 23%;
}

.halalimg {
  width:50px;
  margin-right:20px;
}

.halal-header {
  color:#B7191B;
  margin-right:20px;
}

.halalbox-text {
  font-size: 0.7rem;
}

.menu-mainbox {
  max-width: 950px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.menu-boxing {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.menu-option {
  width:31%;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  overflow: hidden;
}

.menu-option-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}

.menu-pic {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  transform: scale(1.1);
  transition: transform 0.6s ease;
}

.menu-textstyle-img {
  width:65px;
  margin: 1rem;
}

.m-option-texthead {
  font-size: 1.2rem;
  color: #B7191B;
}

.m-option-text {
 font-size: 0.7rem; 
 color: rgb(216 164 56);
 margin-bottom: 1rem;
}

.m-option-link {
  padding: 7px 16px;
  background-color: rgb(216 164 56);
  color:#fff;
  margin-bottom: 2rem;
  border-radius: 20px;
  font-size: 0.7rem;
  font-weight: bold;
  transition: background-color 0.35s ease-out;
}

.m-option-link:hover {
  background-color: #B7191B;
}

.menu-img-box {
  overflow:hidden;
}

.menu-option:hover .menu-pic {
  transform: scale(1);
}

.headexplain-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  padding-top: 4rem;
}

.headexplain-header {
  color: #B7191B;
  font-size: 2rem;
  padding-bottom: 1.7rem;
}

.headexplain-text {
  color: #5f5f5f;
  font-size: 0.7rem;
  font-weight: lighter;
}

.red-part-section {
  width: 100%;
  background-color: rgb(241 240 240);
  padding-bottom: 4.5rem;
}

.red-part-mainbox {
  background-color: #B7191B;
  max-width: 950px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding:4rem 2.5rem;
  border-radius:15px;
  margin: 0 auto;
   align-items: flex-start;
}

.red-part-boxes {
  width:23%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.redpart-boxheader {
  font-size: 1.3rem;
  color: #fff;
  transition: color 0.2s ease;
  font-weight: lighter;
  min-height: 90px;
  line-height: 1.3;
}

.redpart-boxheader:hover {
  color: rgb(216 164 56);
}

.redpart-boxicon {
  width:60px;
  margin-bottom: 0.85rem;
  height: 60px;
  object-fit: contain;
}

.redpart-textbox {
  color:rgb(216 164 56);
  font-weight: lighter;
  font-size: 0.7rem;
  line-height: 25px;
}

.postpart-header {
  text-align: center;
  color: #B7191B;
  font-size: 2.2rem;
  background-color: rgb(241 240 240);
  font-weight: lighter;
  padding-bottom: 2rem;
  transition: text-shadow 0.4s ease;
}

.postpart-header:hover {
  text-shadow: 
     3px 3px 8px rgba(0, 0, 0, 0.25);
}

/*start of blog part*/

.blog-part {
  width:100%;
  background-color: rgb(241 240 240);
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*here the start*/
.blog-mainbox {
  max-width: 950px;
  display: flex;
  flex-direction:row;
  margin: 0 auto;
  gap: 20px;
  align-items: stretch;
  justify-content: center;
}

.blog-posts {
  width:24%;
  display: flex;
  flex-direction: column; 
  min-width: 230px;
  border-radius: 7px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.25);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.bpost-textbox {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  flex-grow: 1;
  padding: 0;
}

.bpost-img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  transition: transform 0.4s ease;
}

.bpost-header {
  font-size: 0.9rem;
  color: #B7191B;
  padding: 0.7rem;
}

.bpost-imgbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;                  
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.119);
  transition: opacity 0.4s ease;
  pointer-events: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.blog-posts:hover .overlay {
  opacity: 0;
}

.blog-posts:hover {
box-shadow: 0 25px 65px rgba(0, 0, 0, 0.38);
transform: translateY(-3px);
}

.bpost-text {
  padding:0 0.7rem 0.7rem 0.7rem;
  font-size: 0.67rem;
  color:#545454;
  font-weight:lighter;
  line-height: 1.9;
}

.bpost-link {
  color: rgb(216 164 56);
  padding: 0.7rem;
  text-align: left !important;
  font-size: 0.7rem;
  width: 100%;
  margin-top: auto;
}

.bpost-date {
  padding: 0.7rem;
  border-top: 1px solid #EAEAEA;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 0.7rem;
  color:#545454;
  width:100%;
}

.allpost-btn {
  margin-top: 2rem;
  font-size: 0.8rem;
  padding:10px 20px ;
  background-color: #B7191B;
  color: #fff;
  transition: background-color 0.35s ease-out;
  border-radius: 25px;
}

.allpost-btn:hover {
  background-color: rgb(216 164 56);
}

.metro-part {
  width:100%;
  background-color: rgb(241 240 240);
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.mtrpart-mainbox {
  max-width: 950px;
  background-image: url(files/metro1.webp);
  border-radius: 10px;
  margin: 0 auto;
  background-size: cover;        
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;      
  width: 100%;
  position: relative;
}

.mtr-whitebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin:0 auto;
  background-color: #fff;
  padding: 1.5rem;
  width:65%;
  position: absolute;
  top:140px;
  left:170px;
  border-radius: 15px;
}

.mtr-logo {
  width:50px;
  padding-bottom:15px;
}

.mtr-smallhead {
  color: #B7191B;
  font-size: 1.3rem;
  font-weight: lighter;
}

.mtr-header {
  color:#B7191B;
  font-size: 1.6rem;
  padding-bottom:0.5rem;
}

.mtr-text {
  color:#545454;
  font-size: 0.65rem;
  max-width:300px;
  padding-bottom: 0.7rem;
}

.mtr-link {
  padding:10px 15px;
  background-color: #B7191B;
  color: #fff;
  font-size: 0.7rem;
  border-radius: 25px;
  transition: all 0.35s ease-out;
}

.mtr-link:hover {
  background-color: rgb(216 164 56);
}